* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2" "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2" "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2" "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2" "img-1 img-1 img-1 img-1 img-5 img-6 img-3 img-3" "img-1 img-1 img-1 img-1 img-5 img-7 img-3 img-3" "img-1 img-1 img-1 img-1 img-4 img-4 img-3 img-3" "img-1 img-1 img-1 img-1 img-4 img-4 img-3 img-3";
  width: 100%;
  height: 100vh;
  background-color: #f8bbbb;
}

.area-1 {
  grid-area: img-1;
  background-color: #f81bb1;
}

.area-2 {
  grid-area: img-2;
  background-color: #f82bb2;
}

.area-3 {
  grid-area: img-3;
  background-color: #f83bb3;
}

.area-4 {
  grid-area: img-4;
  background-color: #f84bb4;
}

.area-5 {
  grid-area: img-5;
  background-color: #f85bb5;
}

.area-6 {
  grid-area: img-6;
  background-color: #f86bb6;
}

.area-7 {
  grid-area: img-7;
  background-color: #f87bb7;
}

.img-grid {
  max-width: 100vh;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

.center {
  justify-items: stretch;
  margin: auto;
}
