$grid-columns:7;
//Reset
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

    grid-template-areas: "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2"
                         "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2"
                         "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2"
                         "img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2"
                         "img-1 img-1 img-1 img-1 img-5 img-6 img-3 img-3"
                         "img-1 img-1 img-1 img-1 img-5 img-7 img-3 img-3"
                         "img-1 img-1 img-1 img-1 img-4 img-4 img-3 img-3"
                         "img-1 img-1 img-1 img-1 img-4 img-4 img-3 img-3";   
    width: 100%;
    height: 100vh;
    background-color: #f8bbbb;
}

@for $i from 1 through $grid-columns {
    .area-#{$i} {
        grid-area: img-#{$i};
        background-color: #f8#{$i}bb#{$i}
    }
  }
  .img-grid{
    max-width: 100vh;
    max-height: 100vh;
    width: 100%;
    height: 100%;
} 
.center{
margin: auto;
}